{{- /* Homepage schema handled in extend_head.html */ -}}
{{- if (or .IsPage .IsSection) }}
{{- if not .IsHome }}
{{- /* BreadcrumbList for non-home pages */ -}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}

{{- $scratch := newScratch }}
{{- $scratch.Set "count" 0 }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}

    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (gt ($scratch.Get "count") 0)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index }},
      "name": {{ $bc_pg.Name | jsonify }},
      "item": {{ $bc_pg.Permalink | jsonify }}
    }
    {{- $_ := $scratch.Add "count" 1 }}
    {{- end }}

  {{- end }}
  {{- if (gt ($scratch.Get "count") 0) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add ($scratch.Get "count") 1 }},
      "name": {{ .Name | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
  ]
}
</script>
{{- end }}{{/* not .IsHome end */}}
{{- end -}}
